<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGoodDoggoApp">
        <activity
            android:name="com.deathhit.my_good_doggo_app.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.deathhit.my_good_doggo_app.activity.thumbnail_info.ThumbnailInfoActivity"
            android:launchMode="singleTop" />

        <!--Dog Api Meta-->
        <meta-data
            android:name="@string/core_dog_api_api_key"
            android:value="@string/app_api_key_dog_api" /> <!--todo provide your own api key!-->

        <meta-data
            android:name="@string/core_dog_api_base_url"
            android:value="https://api.thedogapi.com/v1/" />

    </application>
</manifest>